@use '../../Style/theme.module.scss';

.input {
  margin-bottom: theme.$spacing;
  position: relative;

  label {
    background: white;
    font-size: 1.4rem;
    left: theme.$spacing;
    line-height: 0.6;
    padding: 0 0.5 * theme.$spacing;
    position: absolute;
    top: -0.5rem;
  }

  input {
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 100%;
  }
}

.ordinaryInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5 * theme.$spacing;

  label {
    font-size: 1.4rem;
    padding: 0.1 * theme.$spacing;
  }

  input {
    font-size: 2rem;
    padding: 0.5rem;
  }
}
