@import '../../styles/variables.scss';

.input {
  width: 100%;
  padding: 0 $spacer * 0.5;
  font-size: 1rem;
  line-height: 1;
  height: 2.25rem;
  appearance: none;
  border-style: solid;
  border-radius: $border-radius;
}
