*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
  font-weight: normal;
}

button,
label,
select,
input[type='submit'] {
  cursor: pointer;
  background: none;
}
