@import '../../styles/variables.scss';

.flex {
  display: flex;
  margin: 0 -$spacer * 0.5;

  .colLeft {
    width: 50%;
    flex: 1 0 50%;
    padding: 0 $spacer * 0.5;
  }

  .colRight {
    width: 50%;
    flex: 1 0 50%;
    padding: 0 $spacer * 0.5;
  }
}
