.transactionItem {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid slategrey;
  border-top: 1px solid slategrey;

  span {
    flex: 1;

    &:first-of-type {
      flex: 1.5;
    }
    &:not(:first-of-type) {
      text-align: center;
    }
  }
}
