@use "../../../../styles/theme.module.scss";

.tag {
  height: 36px;
  line-height: 36px;
  border: 2px solid theme.$black;
  border-radius: theme.$roundBorder;
  background-color: theme.$white;
  color: theme.$black;
  padding-right: 10px;
  margin: 0;

  &:focus-within {
    outline: 1px solid theme.$black;
  }
}

.tagInput {
  display: inline-block;
  padding: 0 15px;
  border: none;
  border-radius: theme.$roundBorder;
  outline: none;
}

.tagAction {
  padding-left: 10px;
  color: theme.$gray;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  background: transparent;
  border: none;

  &:hover {
    color: theme.$black;
  }
}
