@import "../../styles/abstracts/variables";

.graphsContainer {
    width: 100%;
    position: relative;
    display: grid;
    column-gap: 30px;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    box-sizing: border-box;
    padding: 30px 20px;

    .graphContainer {
        width: 100%;
        box-shadow: 0px 0px 10px 0px $grey;
        border-radius: 5px;

        .graphTitle {
            text-align: center;
            margin: 20px 0;
            font-size: 18px;
            font-weight: bold;
            color: $black;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .graphsContainer {
        grid-template-columns: 100%;

        .graphContainer:first-child {
            margin: 20px 0;
        }

        .graphContainer {
            width: 100%;
        }
    }
}