@import "../../styles/abstracts/variables";

.categoriesListContainer {

    .categoriesListTitle {
        text-align: center;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: $black;
        background-color: $light-grey;
        border-radius: 4px;
        padding: 4px 0;
    }

    .categoriesList {

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 12px 0;
            border: 1px solid $light-grey;
            padding: 5px 5px 5px 15px;
            border-radius: 5px;
        }
    }

}