// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Application colors
/// @type Color
$primary: rgb(25, 135, 84);
/// @type Color
$red: rgb(177, 0, 0);
/// @type Color
$green: rgb(0, 156, 21);
/// @type Color
$white: rgb(255, 255, 255);
/// @type Color
$light-grey: rgb(203, 203, 203);
/// @type Color
$grey: rgb(136, 136, 136);
/// @type Color
$black: rgb(32, 32, 32);