@use '../../Style/theme.module.scss';

.card {
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: theme.$spacing;
  width: theme.$baseWidth;

  .transactionLabel {
    font-size: 32px;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .category {
    color: gray;
    font-size: 1.5rem;
    text-align: right;
  }

  .date {
    color: gray;
    font-size: 1.5rem;
    text-align: left;
  }

  .amount {
    font-size: 32px;
    text-align: right;

    &[data-positive='true'] {
      color: #006400;
    }
  }
}
