@use '../../styles/theme.module.scss';
@use '../../styles/mixins.module.scss';

.card {
  @include mixins.card;

  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: theme.$spacing;
  width: theme.$baseWidth;

  .transactionLabel {
    font-size: 32px;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .category {
    color: gray;
    font-size: 1.5rem;
    text-align: right;
  }

  .date {
    color: gray;
    font-size: 1.5rem;
    text-align: left;
  }

  .amount {
    font-size: 32px;
    text-align: right;

    &[data-positive='true'] {
      color: #006400;
    }
  }
}
