$font-family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 450;
$font-weight-bold: 500;
$font-weight-bolder: 700;

$line-height-base: 1.5;
$line-height-2: 2;

// Font size
$font-size-xsmall: 12px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-xlarge: 20px;
$font-size-xxlarge: 24px;