.delete {
  background-color: red;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  transition: all 0.3s ease-in-out;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete:hover {
  background-color: rgb(253, 124, 124);
}

.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
}

.id {
  padding: 5px;
  border-radius: 10px;
  background-color: bisque;
  width: 20px;
  height: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
