$default-spacing: 8;

// colors
$color-text: #1D1E18;
$color-primary: #39a0ed;
$color-primary-hover:#46acf9;
$color-secondary: #AAD2BA;
$color-secondary-hover: #b5e1c7;
$color-light-secondary: #D9FFF5;
$color-tertiary: #7E6C6C;
$color-light: #EFEFEF;
$color-lighter: #f8f8f8;


// sizes
$min: 0.8rem;
$small: 0.9rem;
$default: 1rem;
$large: 1.25rem;
$max: 1.5rem;
