html,
body {
  padding: 0;
  margin: 0;
  // font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  // mobile font size clamper
  // @media screen and (min-width: 320px) and (max-width: 767px) {
  //   font-size: clamp(0.7rem, 0.4852rem + 0.6711vw, 1rem);
  // }

  // table & desktop font size clamper
  // @media screen and (min-width: 768px) and (max-width: 2200px) {
  //   font-size: clamp(0.6rem, 0.1709rem + 0.5587vw, 1.4rem);
  // }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
