.subheader {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.searchExpenses {
  width: 50%;
}

.searchExpenses input {
  padding: 15px 12px;
  outline: none;
  border: 1px solid teal;
  border-radius: 5px;
  width: 100%;
  font-family: "Poppins";
}

.searchExpenses input::placeholder {
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  color: gray;
}

.actions {
  display: flex;
  grid-gap: 25px;
}

.btn {
  width: 150px;
  text-align: center;
  outline: none;
  border: 1px solid teal;
  border-radius: 5px;
  background-color: teal;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.btnAdd:hover {
  background-color: rgb(4, 75, 75);
}

.addExpenses .btn {
  padding: 15px 12px;
}
