@import './src/variable';

.card {
  background: white;
  box-shadow: 0 0 5px 2px #d7d7d7;
  padding: 30px 20px;
  border-radius: 10px;

  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & > p {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
