.graph-container {
  width: 100%;
  min-height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.graph-header {
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
  color: #0cf;
}
