@import 'src/styles/variables.scss';

.graphs {
    width: 100%;
}

.appBar {
    height: $app-bar-top-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $content-side-padding;
}

.title {
    font-size: 1.8rem;
}

.main {
    width: 64rem;
    margin: 0 auto;
    padding-top: 4.8rem;
}

