/*
* @variables
*/

$nav_color : #242424;
$bg_color: #e5e5e5;
$page_width: 100%;
$white_color: #FFFFFF;
$font_name: inter;
$stroke:#f2f2f2;
$tbl_bg: #f9f9f9;
$red_color:#FD5A33;
$green_color:#24B52D;
$bg_border:#e5e5e5;
$grey_color:#888;