@use "../../styles/theme.module.scss";
@import "../../styles/common.module.scss";

.invalidInput {
  border-color: theme.$negativeColor;

  &:focus-visible {
    outline: 1.5px solid theme.$negativeColor;
  }
}

.validationError {
  color: theme.$negativeColor;
  position: relative;
  top: -30px;
}
