@import '../Abstract/variables';
@import '../Abstract/mixins';

.layout__container{
    background-color: $bg_color;
    @include fullwidth_height;
    @include flex;
}

.container__flex{
    @include flex_width(15);
    @include flex;
    @include flexDirection(column);
}

.main{
    &_nav{
        width: 100%;
        height: 100px;
        background-color: $white_color;
    }
    &_lg{
        &_container{
             margin-top: 80px;
            @include flex_width(15);
        }
        &_content{
            @include w_h_param(90%,90%);
            @include bgcolor($white_color);
            @include centralize;
            padding: 20px;

        }
    }
}