@use './styles/theme.module.scss';

.layout {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-width: 60rem;
  max-width: 120rem;
  padding: 0 2 * theme.$spacing;
}
