@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Ubuntu:wght@400;500;700&display=swap");

$bg-main: #fffff9;
$btn-main: #3d50a7;

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", "Open-sans", sans-serif;
  font-size: 16px;
  background-color: $bg-main;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", "Open-sans", sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background-color: white;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  background-color: white;
}

a {
  text-decoration: none;
  color: blue;

  &:hover {
    color: steelblue;
  }
}
.asterisk {
  font-size: 0.8rem;
  color: crimson;
}
