@use '../../styles/theme.module.scss';
@use '../../styles/placeholders.module.scss';

.newTransaction {
  @extend %cardWithHeading;
}

.card {
  gap: theme.$spacing;
  display: grid;
  grid-template-columns: 4fr 3fr 1fr 2fr 1fr;
}
