@use '../../Style/theme.module.scss';

.newTransaction {
    width: theme.$baseWidth;
    margin-bottom: theme.$spacing;

    .card {
        box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
        border-radius: 0.5rem;
        padding: theme.$spacing;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        column-gap: theme.$spacing;
    }

    .submitButton {
        grid-column: 2;
        place-self: end;
    }
}

