@use '../../styles/theme.module.scss';
@use '../../styles/mixins.module.scss';

.newTransaction {
  margin-bottom: theme.$spacing;
  width: theme.$baseWidth;

  .card {
    @include mixins.card;

    column-gap: theme.$spacing;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
  }

  .submitButton {
    grid-column: 2;
    place-self: end;
  }
}
