.home {
    margin: 0 auto;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: auto;
    justify-content: space-around;
    height: 400px;
}
