@import '../../styles/variables.scss';

.nav {
  padding: $spacer 0;
  margin-bottom: $spacer * 2;

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      font-size: 1.5rem;

      + li {
        margin-left: $spacer;
      }

      a {
        text-decoration: none;
        font-weight: 700;
        color: $black;
        padding: $spacer * 0.25 $spacer * 0.5;

        &.active {
          border-bottom: 2px solid $black;
        }
      }
    }
  }
}
