@import "./../../styles/index.scss";

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    @media screen and (max-width: 768px) {
      font-size: 12px;
      }
  }
  
  td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    border: 1px solid #ffffff;
    background-color: rgb(19, 19, 22);
    color: #ffffff;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
